# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [8]:
tpl = tuple(range(1, 11))
print(tpl)

TypeError: 'tuple' object is not callable

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(tpl[1])
print(tpl[len(tpl)//2])
print(tpl[-1])

2
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = tuple(tuple(i**j for i in range(3, 6)) for j in range(3))
for row in matrix:
    print(tuple(row))

print(matrix[1][2])

(1, 1, 1)
(3, 4, 5)
(9, 16, 25)
5

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tuple_with_duplicates = (1, 2, 2, 3, 4, 4, 5,5,5,5)
duplicates = []
indices = []

for item in tuple_with_duplicates:
    if tuple_with_duplicates.count(item) > 1:
        indices.append(tuple_with_duplicates.index(item))
        duplicates.append(item)

indices = set(indices)
duplicates = set(duplicates)

print(f"Duplicates : {duplicates}")
print(f"Indices : {indices}")

Duplicates : {2, 4, 5}
Indices : {1, 4, 6}

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
t1 = tuple(range(3, 8))
a, b, c, d, e = t1
print(a, b, c, d, e)

3 4 5 6 7

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst = [i for i in range(1, 6)]
lst = tuple(lst)
print(lst)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
nested_tuple = tuple(tuple(i+j for j in range(6, 9)) for i in range(3, 6))

for tuple in nested_tuple:
    print(tuple)

(9, 10, 11)
(10, 11, 12)
(11, 12, 13)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [2]:
tpl = range(1, 6)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [10]:
s = "hello"
tpl = tuple(s)
str = ''.join(tpl)
print(str)

hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [11]:
dict = {
    (1,2):3,
    (4,5):6,
    (7,8):9
}

print(dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [12]:
tpl = tuple(tuple(i*j for j in range(3, 6)) for i in range(7, 10))

for i in tpl:
    for j in i:
        print(j)

21
28
35
24
32
40
27
36
45

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [13]:
tpl = (1, 3, 4, 4, 5, 5, 6)
tpl = set(tpl)
print(tpl)

{1, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [14]:
def min_tuple(tpl):
    return min(tpl)

def max_tuple(tpl):
    return max(tpl)

def sum_tuple(tpl):
    return sum(tpl)

tpl = range(1,11)

print(min_tuple(tpl))
print(max_tuple(tpl))
print(sum_tuple(tpl))

1
10
55